/*
 * CRITICAL: This stylesheet uses viewport width (vw) instead of pixels (px).
 * Do simple conversion that fits this page by splitting px value with 11.
 * E.g. 66px / 11 = 6vw
 * Wondering why we do this? Resize the window. Experience awesome scaling.
 */
/* DEBUG variables, set to colors instead of
 * transparents for debug borders around everything
 */
/*
@debugRed: red;
@debugCyan: cyan;
@debugLime: lime;
@debugYellow: yellow;
/*/
/* Debugging, use bright colors that stand out */
.debugContainer {
  border: 0.1vw solid transparent;
}
/* Outer containers */
.debugBox {
  border: 0.1vw solid transparent;
}
/* Inner containers */
.debugText {
  border: 0.1vw solid transparent;
}
/* Text elements */
.debugElement {
  border: 0.1vw solid transparent;
}
/* Other elements */
/* Fonts */
@font-face {
  font-family: 'Fondamento';
  src: url('/fonts/fondamento/fondamento.ttf');
}
.fondamento {
  font-family: 'Fondamento';
}
@font-face {
  font-family: 'Cardo';
  src: url('/fonts/cardo/cardo.ttf');
}
.cardo {
  font-family: 'Cardo';
}
@font-face {
  font-family: 'Oleoscript';
  src: url('/fonts/oleoscript/oleoscript.ttf');
}
.oleoscript {
  font-family: 'Oleoscript';
}
@font-face {
  font-family: 'Sourcesans';
  src: url('/fonts/sourcesans/sourcesans.ttf');
}
.sourcesans {
  font-family: 'Sourcesans';
}
/* Font for the clock */
@font-face {
  font-family: 'Digi';
  src: url('../fonts/digi/digi.ttf') format('truetype');
}
/* Mixins */
.fullbox {
  border: 0.1vw solid transparent;
  clear: both;
  margin: 0;
  padding: 0;
  width: 100%;
}
.title {
  border: 0.1vw solid transparent;
  color: NavajoWhite;
  font-weight: bold;
  font-size: 3vw;
  margin-top: 3vw;
  margin-bottom: 1vw;
  display: block;
}
.subtitle {
  border: 0.1vw solid transparent;
  font-weight: bold;
  margin-top: .9vw;
}
.emphasized {
  border: 0.1vw solid transparent;
  font-style: italic;
  margin-bottom: 1vw;
}
/* Rules */
body {
  cursor: none;
  background: #001429;
  color: white;
  font-family: 'Helvetica Neue', 'Helvetica';
  font-weight: 200;
  font-size: 2.2vw;
  line-height: 2.7vw;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
#overlay {
  /* note1: the overlay is hidden when debugging, to be able to select/click stuff */
  /* note2: the overlay fades to black every hour or so to refresh the screen pixels, */
  /* yes, even LCD-screens can have burn-in, it just takes a LOT longer than with plasmas */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: black;
  text-align: center;
  opacity: 0;
}
#fadeOutNews {
  border: 0.1vw solid transparent;
  position: fixed;
  left: 0;
  right: 0;
  bottom: -0.1vw;
  height: 45.9vw;
  z-index: 100;
  background-image: url('/img/background-infoscreen-news-cutoff.png');
  background-repeat: no-repeat;
  background-size: cover;
}
#background {
  /* using a div because the background is color shifted by the palette CSS files */
  position: fixed;
  background-image: url('/img/background-large-vertical.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
/* This container keeps the content centered */
#container {
  border: 0.1vw solid transparent;
  padding: 3.6vw;
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#container #office {
  border: 0.1vw solid transparent;
  clear: both;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}
#container #office #status {
  border: 0.1vw solid transparent;
}
#container #office #status #text {
  border: 0.1vw solid transparent;
  font-size: 22vw;
  line-height: 22vw;
  text-shadow: 0 0 1.8vw black;
  padding: 1.8vw 0 0 0;
}
#container #office #status img {
  border: 0.1vw solid transparent;
  width: 90%;
  display: none;
}
#container #office #subtext {
  border: 0.1vw solid transparent;
  font-size: 3.3vw;
  line-height: 3.3vw;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0 1.8vw black, 0 0 2.3vw black;
  padding-bottom: 1vw;
}
#container #todays {
  border: 0.1vw solid transparent;
  clear: both;
  margin: 0;
  padding: 0;
  width: 100%;
}
#container #todays #schedule {
  border: 0.1vw solid transparent;
  float: left;
  width: 47.5%;
}
#container #todays #schedule #servant {
  border: 0.1vw solid transparent;
  font-style: italic;
  margin-bottom: 1vw;
}
#container #todays #coffee {
  border: 0.1vw solid transparent;
  float: right;
  width: 47.5%;
}
#container #todays #coffee #pots {
  border: 0.1vw solid transparent;
  font-style: italic;
  margin-bottom: 1vw;
}
#container #cantinas {
  border: 0.1vw solid transparent;
  clear: both;
  margin: 0;
  padding: 0;
  width: 100%;
}
#container #cantinas .hours {
  border: 0.1vw solid transparent;
  font-style: italic;
  margin-bottom: 1vw;
  -webkit-transition: text-shadow 0.15s ease-out 0s;
}
#container #cantinas .first {
  border: 0.1vw solid transparent;
  position: relative;
  float: left;
  width: 47.5%;
}
#container #cantinas .second {
  border: 0.1vw solid transparent;
  position: relative;
  float: right;
  width: 47.5%;
}
#container #cantinas .mealBox {
  border: 0.1vw solid transparent;
}
#container #cantinas li {
  border: 0.1vw solid transparent;
  position: relative;
  width: 95%;
  list-style-type: none;
  -webkit-transition: text-shadow 0.15s ease-out 0s;
}
#container #cantinas li.message {
  /*font-style: italic;*/
}
#container #bus {
  border: 0.1vw solid transparent;
  clear: both;
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  background-color: #111;
  background-clip: padding-box;
  /* makes the background color only show on the inside of the border */
  width: 110%;
  margin-left: -5%;
  top: 4.2vw;
  font-size: 2.2vw;
  line-height: 2.5vw;
  height: 17vw;
  margin-bottom: 5.4vw;
  padding: 0 3%;
  box-shadow: 0 0 2.3vw #aaa;
}
#container #bus .name {
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0.5vw;
}
#container #bus .loadingLeft {
  position: relative;
  z-index: 100;
  -webkit-transform: scaleX(-1);
  width: 19vw;
  bottom: 2vw;
}
#container #bus .loadingRight {
  position: relative;
  z-index: 100;
  width: 19vw;
  bottom: 2vw;
}
#container #bus .first,
#container #bus .second,
#container #bus .third,
#container #bus .fourth,
#container #bus .fifth,
#container #bus .sixth,
#container #bus .seventh,
#container #bus .eighth,
#container #bus .nineth,
#container #bus .tenth {
  border: 0.1vw solid transparent;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#container #bus .time {
  /* nothing here yet */
}
#container #bus .error {
  font-style: italic;
}
#container #bus #firstBus {
  border: 0.1vw solid transparent;
  position: relative;
  float: left;
  text-align: right;
  padding-top: 1.3vw;
  width: 42%;
}
#container #bus #secondBus {
  border: 0.1vw solid transparent;
  position: relative;
  float: left;
  text-align: left;
  padding-top: 1.3vw;
  width: 42%;
}
#container #bus #middle {
  border: 0.1vw solid transparent;
  position: relative;
  float: left;
  text-align: center;
  height: 100%;
  width: 14%;
}
#container #bus #middle #atbLogo {
  border: 0.1vw solid transparent;
  height: 9vw;
  margin-top: .7vw;
  border-radius: 0.5vw;
  border-top-left-radius: 2.7vw;
}
#container #bus #middle #clock {
  border: 0.1vw solid transparent;
  color: #fff;
  margin-top: 2vw;
  text-align: center;
  text-shadow: 0 0 .4vw #ddd,
          0 0 .9vw #ccc,
          0 0 1.4vw #bbb;
}
#container #bus #middle #clock li {
  border: 0.1vw solid transparent;
  display: inline-block;
  font-family: Digi;
  font-size: 4vw;
  list-style: none;
}
#container #bus #middle #clock #hours {
  position: relative;
  left: .4vw;
}
#container #bus #middle #clock #minutes {
  position: relative;
  left: -0.4vw;
}
#container #bus #middle #clock #point {
  position: relative;
  left: -0.1vw;
  -moz-animation: mymove 1s ease infinite;
  -webkit-animation: mymove 1s ease infinite;
}
@-webkit-keyframes mymove {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1.0;
  }
}
#container #news {
  border: 0.1vw solid transparent;
  clear: both;
  margin: 0;
  padding: 0;
  width: 100%;
  /* #full for using a single column */
  /* #left and #right for using double columns */
  /* for each news article */
}
#container #news #full {
  position: relative;
  width: 100%;
  float: left;
}
#container #news #full > .title {
  display: none;
  /* no need for affiliation title when only one is in use */
}
#container #news #full article img.regular {
  float: left;
  width: 33%;
  min-height: 16.3vw;
  max-height: 36.3vw;
  margin: 0 1.4vw 0 0;
}
#container #news #left,
#container #news #right {
  position: relative;
  width: 47.5%;
}
#container #news #left > .title,
#container #news #right > .title {
  margin-bottom: -0.9vw;
}
#container #news #left .title.regular,
#container #news #right .title.regular {
  color: LightGrey;
}
#container #news #left {
  float: left;
}
#container #news #right {
  float: right;
}
#container #news article {
  border: 0.1vw solid transparent;
  position: relative;
  clear: both;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 3vw;
  min-height: 5vw;
  border-top-right-radius: .4vw;
  border-bottom-right-radius: .4vw;
}
#container #news article .title {
  position: relative;
  margin-top: 0;
  /* overrides default value */
}
#container #news article .title.flashy {
  position: absolute;
  width: 92%;
  color: white;
  font-family: Helvetica;
  font-weight: lighter;
  text-transform: none;
  text-shadow: 0 0 0.7vw #333, 0 0 0.3vw #333, -0.2vw -0.2vw 0.2vw #333, -0.2vw 0.2vw 0.2vw #333, 0.2vw -0.2vw 0.2vw #333, 0.2vw 0.2vw 0.2vw #333;
  font-size: 3.2vw;
  line-height: 3.4vw;
  top: 2vw;
  left: 2vw;
}
#container #news article .author {
  display: inline;
  position: relative;
  font-style: italic;
}
#container #news article .author.flashy {
  position: absolute;
  width: 92%;
  color: white;
  font-family: Helvetica;
  font-weight: lighter;
  font-size: 3vw;
  bottom: 2vw;
  left: 2vw;
  text-shadow: 0 0 0.7vw #333, 0 0 0.3vw #333, -0.2vw -0.2vw 0.2vw #333, -0.2vw 0.2vw 0.2vw #333, 0.2vw -0.2vw 0.2vw #333, 0.2vw 0.2vw 0.2vw #333;
}
#container #news article img {
  width: 100%;
  height: auto;
  background: snow;
  min-height: 16.3vw;
  max-height: 36.3vw;
  padding: .4vw;
  border-radius: .4vw;
}
#container #news article img.regular {
  float: right;
  width: 33%;
  margin: .3vw 0 0 .5vw;
}
#container #news article img.flashy {
  float: left;
  width: 97%;
  margin: 0;
}
#container #news .unread {
  font-size: 3vw;
  text-shadow: 0 0 0.4vw black, -0.2vw -0.2vw 0.2vw #333, -0.2vw 0.2vw 0.2vw #333, 0.2vw -0.2vw 0.2vw #333, 0.2vw 0.2vw 0.2vw #333;
}
/* the affiliation logo or sponsor logo */
#logo {
  border: 0.1vw solid transparent;
  position: fixed;
  right: 3.6vw;
  bottom: 3.6vw;
  width: 36.3vw;
  z-index: 110;
}
/* the pageflip at the bottom */
#pageflip {
  position: fixed;
  z-index: 200;
  left: 0;
  bottom: 0;
  color: #ccf2cc;
  width: 32.3vw;
  height: 16.4vw;
  font: bold 2vw monospace;
  text-shadow: 0 0 .4vw #68bf70,
    0 0 .9vw #60b95e,
    0 0 1.4vw #368f2c,
    0 0 1.8vw #25892e,
    0 0 2.7vw #183e1a;
}
#pageflip #pfBackground {
  position: fixed;
  z-index: 201;
  left: 0;
  bottom: 0;
  width: 32.3vw;
  height: 16.4vw;
  background: transparent url('/img/pageflip-big-background.png') no-repeat left bottom;
  background-size: 32.36vw 16.45vw;
}
#pageflip #pfText {
  position: fixed;
  z-index: 202;
  left: .7vw;
  bottom: .3vw;
  width: 27.2vw;
  height: 7vw;
}
#pageflip #pfFlip {
  position: fixed;
  z-index: 203;
  left: 0;
  bottom: 0;
  width: 32.3vw;
  height: 16.4vw;
  background: transparent url('/img/pageflip-big.png') no-repeat left bottom;
  background-size: 32.63vw 15.90vw;
}
#pageflip #pfLink {
  position: fixed;
  z-index: 204;
  left: .7vw;
  bottom: .3vw;
  width: 27.2vw;
  height: 7vw;
}
#pageflip #pfLink a {
  text-decoration: none;
  color: #ccf2cc;
}
#pageflip #pfLink a:hover {
  text-decoration: underline;
}
#pageflip #pfLink .pageflipcursor {
  animation: 0.6s ease pageflip infinite;
}
@keyframes pageflip {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1.0;
  }
}
