/* Debugging */

@debug: 0px;
.debugred {
  border: @debug solid red;
}
.debugyellow {
  border: @debug solid yellow;
}
.debuglime {
  border: @debug solid lime;
}

/* Rules */

body {
  font-family: helvetica;
  color: white;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 800px;
  height: 600px;

  #background {
    /* using a div because the background is color shifted by the palette CSS files */
    background-image: url('/img/background-large-vertical.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
  }
}

/* All options */

#options {
  .debuglime;
  width: 590px; /* Hides scrollbar under the Notiwalls-sheet, #options is actually just 575px wide */
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;

  .side {
    float: left;
    padding-left: 13px;
    font-size: 15px;
    white-space: nowrap;
  }
}

/* Options logo, subtext and saved notifcation */

#options header {
  .debugred;
  width: 575px;

  #headerText {
    .debugyellow;
    margin-top: 30px;
    font-size: 42px;
    font-weight: lighter;
    text-align: left;
    padding-left: 57px;
    /* For text that is skewed the same amount as the Online logo:
    - more precise than italic, the Online logo is skewered exactly 15 degrees */
    /*-webkit-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-15deg, 0deg);
    transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-15deg, 0deg);*/
  }

  #notification {
    position: absolute;
    left: 90px;
    top: 25px;
    text-align: center;
    width: 360px;
    padding: 4px 20px 2px 13px;
    background: #FFFF99;
    font-size: 42px;
    font-weight: lighter;
    color: white;
    box-shadow:
      0 0 13px White,
      0 0 20px White,
      0 0 40px White,
      0 0 60px White;
    border: 1px solid #FFCC99;
    border-radius: 27px;
    display: none;
    .heart {
      color: #ff44f8;
    }
    .saved {
      color: #ff44f8;
    }
  }
}

/* Each option item */

#options .item {
  .debuglime;
  display: block;
  padding-top: 15px;
  padding-left: 37px;

  /* for icon images */
  .icon {
    width: 20px;
    height: 20px;
    position: relative;
    margin: 0;
    top: 4px;
    left: -1px;
    -webkit-filter: drop-shadow(0 0 4px black);
    filter: drop-shadow(0 0 4px black);
  }
  #statusOverlay {
    pointer-events: none;
    position: relative;
    width: 20px;
    height: 20px;
    top: -51px;
    right: 62px;
  }
  /* for logo images */
  .logo {
    box-shadow: 0 0 13px 0 #333;
    margin: 7px 0 0 7px;
  }
  /* for regular size images */
  .image {
    box-shadow: 0 0 7px 0 black;
    margin: 7px 0 0 23px;
    border-radius: 5px;
  }

  input {
    box-shadow: 0 0 15px #333;
    cursor: pointer;
  }

  /* the affiliation option in particular */

  #affiliationBox {
    width: 374px;
    border-top: 1px solid white;
    border-bottom: 1px solid #7a7a7a;
    border-radius: 4px;
    background: #e6e5e5; /* Old browsers */
    background: -webkit-linear-gradient(top, #e6e5e5 0%,#cececf 100%); /* Chrome10+,Safari5.1+,Opera15+ */
    background: linear-gradient(to bottom, #e6e5e5 0%, #cececf 100%); /* W3C */
    overflow: hidden;
    white-space: nowrap;
    word-wrap: break-word;

    .symbol {
      .debugred;
      white-space: nowrap;
      cursor: pointer;
      width: 59px;
      background-position: center center;
      background-size: 59px 59px;
      background-repeat: no-repeat;
      background-image: url(../org/online/symbol.png); /* is switched for affiliation1 logo */
    }

    #affiliation1Symbol {
      float: left;
      border-right: 1px solid #aaa;
    }

    #affiliation2Symbol {
      float: right;
      border-left: 1px solid #aaa;
    }

    .box {
      .debugred;
      position: relative;
      padding: 5px 6px 6px 6px;

      select {
        width: 100px;
        margin-top: 4px;
        border: 1px solid #7a7a7a;
        word-wrap: initial;
      }
    }

    /* Debug affiliation in the top of the affiliation selection lists */
    optgroup.debugAffiliation {
      display: none;
    }

    #primary {
      float: left;
      border-right: 1px solid #aaa;
      width: 115px;

      select {
        margin-left: 7px;
      }

      #affiliationKey1 {
        // nothing here yet
      }
      #affiliationPalette {
        position: relative;
        float: left;
      }
    }

    #secondary {
      float: right;
      width: 107px;

      #affiliationKey2 {
        // nothing here yet
      }
      #affiliation2Checkbox {
        margin-top: 3px;
        input {
          box-shadow: 0 0 0 black;
        }
        label {
          position: relative;
          left: -2px;
          color: black;
          font-size: 12px;
          text-shadow: none; // overrides
        }
      }
    }

    #flashyNews {
      position: relative;
      float: left;
      display: none;
      border-top: 1px solid #aaa;
      background: -webkit-linear-gradient(top, #e8e8e8 0%,#c0c0c0 100%); /* Chrome10+,Safari5.1+,Opera15+ */
      background: linear-gradient(to bottom, #e8e8e8 0%,#c0c0c0 100%); /* W3C */
      width: 100%;
      padding: 9px 11px;
      color: black;
      font-size: 12px;

      img {
        position: relative;
        float: left;
        border: 1px solid #aaa;
        width: 80px;
        height: auto;
      }
      div {
        margin-top: 2px;
        margin-left: 5px;
        position: relative;
        float: left;
        max-width: 260px;
        input {
          box-shadow: 0 0 0 black;
        }
        label {
          text-shadow: none; // overrides
        }
      }
    }

    #arrowDown {
      position: relative; /* paint behind other stuff */
      z-index: 100;  /* paint behind other stuff */
      left: -6px;
      top: 45px;
      img {
        width: 12px;
      }
    }
  }

  /* the cantina option in particular */

  #cantinaBox {
    width: 352px;
    overflow: hidden;
    border-top: 1px solid white;
    border-bottom: 1px solid #7a7a7a;
    border-radius: 4px;
    background: #e6e5e5; /* Old browsers */
    background: -webkit-linear-gradient(top, #e6e5e5 0%,#cececf 100%); /* Chrome10+,Safari5.1+,Opera15+ */
    background: linear-gradient(to bottom, #e6e5e5 0%, #cececf 100%); /* W3C */
    padding: 4px 11px;
    white-space: nowrap;
    word-wrap: break-word;
    select {
      .debugred;
      float: left;
      border: 1px solid #8d8d8d;
      position: relative;
      margin-top: 3px;
      white-space: nowrap;
      width: 106px;
    }
    #cantinaLogo {
      .debugred;
      float: left;
      white-space: nowrap;
      width: 116px;
      margin: 0 11px;
    }
  }

  /* the bus option in particular */

  #busBox {
    width: 353px;
    overflow: hidden;
    border-top: 1px solid white;
    border-bottom: 1px solid #7a7a7a;
    border-radius: 4px;
    background: #e6e5e5; /* Old browsers */
    background: -webkit-linear-gradient(top, #e6e5e5 0%,#cececf 100%); /* Chrome10+,Safari5.1+,Opera15+ */
    background: linear-gradient(to bottom, #e6e5e5 0%, #cececf 100%); /* W3C */
    padding: 8px 11px;
    white-space: nowrap;
    word-wrap: break-word;

    .busStop {
      float: left;
      white-space: nowrap;
      input {
        width: 136px;
        box-shadow: 0 0 0 black;
      }
      select {
        z-index: 10; /* allows the down-arrow to be painted behind this */
        position: relative; /* allows the down-arrow to be painted behind this */
        margin-top: 7px;
        width: 141px;
      }
      .lines {
        z-index: 10; /* allows the down-arrow to be painted behind this */
        position: relative; /* allows the down-arrow to be painted behind this */
        margin-top: 7px;
        display: none;
        width: 128px;
        border-top: 1px solid white;
        box-shadow: 0 1px 2px #888;
        border-radius: 4px;
        background: -webkit-linear-gradient(top, #e8e8e8 0%,#c0c0c0 100%); /* Chrome10+,Safari5.1+,Opera15+ */
        background: linear-gradient(to bottom, #e8e8e8 0%,#c0c0c0 100%); /* W3C */
        padding: 2px 7px 1px 7px;
        text-align: left;
        font-size: 12px;
        text-shadow: 0 0 0 white; /* resets inhertied value from parent element */

        table {
          .debugred;
          width: 100%;
          table-layout: fixed;
          text-align: center;
          td {
            .debugyellow;
            padding: 1px 0;
          }
        }
        .active {
          cursor: pointer;
          color: black;
          font-weight: bold;
          &:hover {
            text-decoration: underline;
          }
        }
        .inactive {
          cursor: pointer;
          color: gray;
          &:hover {
            text-decoration: underline;
          }
        }
        .error {
          color: black;
          text-align: center;
          font-size: 12px;
        }
        .retry {
          color: black;
          text-align: center;
          font-size: 12px;
          text-decoration: underline;
          cursor: pointer;
        }
        .loadingLeft {
          position: relative;
          width: 80px;
          -webkit-transform: scaleX(-1);
        }
        .loadingRight {
          position: relative;
          width: 80px;
        }
      }
    }
    #busLogo {
      .debugred;
      position: relative; /* allows the down-arrow to be painted behind this */
      z-index: 10; /* allows the down-arrow to be painted behind this */
      float: left;
      white-space: nowrap;
      width: 45px;
      margin: 0 11px;
    }
    #arrowDown {
      position: relative; /* paint behind other stuff */
      z-index: 2;  /* paint behind other stuff */
      left: -180px;
      top: 41px;
      img {
        width: 12px;
      }
    }
  }

  /* the showStatus option in particular */

  img#showStatusImage {
    position: relative;
    top: -12px;
    width: 251px;
    height: 103px;
  }

}

/* Notiwall previews */

div#notiwalls {
  .debugyellow;
  position: fixed;
  z-index: 5;
  top: 0px;
  right: 60px;
  bottom: 0px;
  width: 245px;

  overflow-x: hidden;
  overflow-y: auto;

  // This is typically tweaked by palettes, be careful when changing it
  background-color: #111;
  box-shadow: 0 0 25px #aaa;
  color: NavajoWhite;

  div#previewTitle {
    .debugyellow;
    margin-top: 30px;
    margin-bottom: 15px;
    margin-left: 15px;
    font-size: 42px;
    font-weight: lighter;
    text-align: left;
  }

  div.screen {
    position: relative;
    float: left;
    top: -4px; /* Minor hack to make things line up */
    margin-bottom: 10px;

    div.name {
      .debugyellow;
      margin-left: 15px;
    }

    img#infoscreenPreview {
      .debugred;
    }

    img#officescreenPreview {
      .debugred;
    }

    img.preview {
      .debugred;
      position: relative;
      float: left;
      width: 100%;
      height: auto;
      cursor: pointer;
    }
  }
}

/* Bus stop suggestions */

div#busSuggestions {
  .debuglime;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 60px;
  bottom: 0;
  width: 245px;
  display: none; /* Will slide down when needed */

  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 15px;
  border-bottom: 2px solid gray;  
  background-color: snow;

  div#suggestionTitle {
    .debugyellow;
    margin-top: 30px;
    margin-bottom: 15px;
    margin-left: 15px;
    font-size: 42px;
    font-weight: lighter;
    text-align: left;
    color: #444;
  }
  .suggestion {
    margin-left: 15px;
    color: #444;
    line-height: 1.5;
    letter-spacing: 1px;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
    .matched_character {
      font-weight: bold;
    }
  }
  .correct {
    margin-left: 15px;
    color: black;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.5;
  }
}
