.Template {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 auto;
    align-items: flex-start;
    justify-content: flex-start;
    min-height: 100%;
}

.dev .Template {
    box-shadow: inset 0 0 0 1px yellow;
}
