.Header {
  position: relative;
}

.Header > button {
  position: absolute;
  bottom: 0;
  margin: auto;
}

.triangle {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-top: 200px solid transparent;
  border-left: 100vw solid #000040;
}
