.StatusTop {
  overflow: hidden;
}

.StatusTop .SubSection {
  transform: matrix(1, 0, -.6, 1, -420, 0);
  background-color: rgba(0, 0, 0, .2);
  min-width: 720px;
}

.StatusTop .Vakter {
  width: 420px;
  position: relative;
}

.StatusTop .SubSection .Vakter, .StatusTop .SubSection .Coffee {
  transform: matrix(1, 0, .6, 1, 420, 0);
}
